*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

.home{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;

}

.pictures{
   
    width: 23%;
    height: 30vh;
    overflow: hidden;
    
}

.images{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out

   
    
}

.images:hover{
    transform: scale(1.1);
}
